:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-colors-black: rgba(0, 0, 0, 1);
  --dl-color-colors-white: rgba(255, 255, 255, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-colors_red-10: rgba(252, 233, 233, 1);
  --dl-color-colors_red-20: rgba(245, 188, 188, 1);
  --dl-color-colors_red-40: rgba(239, 143, 143, 1);
  --dl-color-colors_red-60: rgba(191, 64, 64, 1);
  --dl-color-colors_red-80: rgba(149, 4, 4, 1);
  --dl-color-colors_red-90: rgba(102, 0, 0, 1);
  --dl-radius-radius-round: 50%;
  --dl-color-colors_blue-10: rgba(230, 238, 254, 1);
  --dl-color-colors_blue-20: rgba(184, 206, 249, 1);
  --dl-color-colors_blue-40: rgba(125, 161, 232, 1);
  --dl-color-colors_blue-60: rgba(64, 106, 191, 1);
  --dl-color-colors_blue-80: rgba(4, 52, 149, 1);
  --dl-color-colors_blue-90: rgba(0, 34, 102, 1);
  --dl-color-colors_pink-10: rgba(254, 230, 238, 1);
  --dl-color-colors_pink-20: rgba(251, 182, 205, 1);
  --dl-color-colors_pink-40: rgba(232, 125, 161, 1);
  --dl-color-colors_pink-60: rgba(191, 64, 106, 1);
  --dl-color-colors_pink-80: rgba(149, 4, 52, 1);
  --dl-color-colors_pink-90: rgba(102, 0, 34, 1);
  --dl-color-colors_red-100: rgba(77, 0, 0, 1);
  --dl-color-colors_teal-10: rgba(233, 249, 252, 1);
  --dl-color-colors_teal-20: rgba(188, 236, 245, 1);
  --dl-color-colors_teal-40: rgba(125, 214, 232, 1);
  --dl-color-colors_teal-60: rgba(63, 169, 191, 1);
  --dl-color-colors_teal-80: rgba(4, 125, 149, 1);
  --dl-color-colors_teal-90: rgba(0, 85, 102, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-colors_blue-100: rgba(0, 25, 77, 1);
  --dl-color-colors_green-10: rgba(235, 250, 237, 1);
  --dl-color-colors_green-20: rgba(214, 245, 219, 1);
  --dl-color-colors_green-40: rgba(119, 202, 133, 1);
  --dl-color-colors_green-60: rgba(67, 168, 84, 1);
  --dl-color-colors_green-80: rgba(63, 125, 74, 1);
  --dl-color-colors_green-90: rgba(54, 94, 61, 1);
  --dl-color-colors_pink-100: rgba(77, 0, 26, 1);
  --dl-color-colors_teal-100: rgba(0, 63, 76, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-colors_font-info: rgba(0, 34, 102, 1);
  --dl-color-colors_green-100: rgba(46, 72, 50, 1);
  --dl-color-colors_orange-10: rgba(252, 242, 233, 1);
  --dl-color-colors_orange-20: rgba(245, 217, 188, 1);
  --dl-color-colors_orange-40: rgba(239, 191, 143, 1);
  --dl-color-colors_orange-60: rgba(191, 127, 63, 1);
  --dl-color-colors_orange-80: rgba(149, 76, 4, 1);
  --dl-color-colors_orange-90: rgba(102, 51, 0, 1);
  --dl-color-colors_purple-10: rgba(254, 230, 254, 1);
  --dl-color-colors_purple-20: rgba(249, 184, 249, 1);
  --dl-color-colors_purple-40: rgba(232, 125, 232, 1);
  --dl-color-colors_purple-60: rgba(191, 64, 191, 1);
  --dl-color-colors_purple-80: rgba(149, 4, 149, 1);
  --dl-color-colors_purple-90: rgba(102, 0, 102, 1);
  --dl-color-colors_yellow-10: rgba(252, 252, 233, 1);
  --dl-color-colors_yellow-20: rgba(245, 245, 188, 1);
  --dl-color-colors_yellow-40: rgba(239, 239, 143, 1);
  --dl-color-colors_yellow-60: rgba(191, 191, 63, 1);
  --dl-color-colors_yellow-80: rgba(149, 149, 4, 1);
  --dl-color-colors_yellow-90: rgba(102, 102, 0, 1);
  --dl-space-space-threeunits: 48px;
  --dl-color-colors_font-error: rgba(102, 0, 0, 1);
  --dl-color-colors_font-focus: rgba(0, 63, 76, 1);
  --dl-color-colors_font-hover: rgba(0, 85, 102, 1);
  --dl-color-colors_neutral-10: rgba(250, 250, 250, 1);
  --dl-color-colors_neutral-20: rgba(239, 240, 240, 1);
  --dl-color-colors_neutral-40: rgba(220, 222, 224, 1);
  --dl-color-colors_neutral-60: rgba(174, 179, 183, 1);
  --dl-color-colors_neutral-80: rgba(92, 102, 112, 1);
  --dl-color-colors_neutral-90: rgba(48, 64, 80, 1);
  --dl-color-colors_orange-100: rgba(76, 38, 0, 1);
  --dl-color-colors_overlay-10: rgba(0, 0, 0, 0.10000000149011612);
  --dl-color-colors_overlay-20: rgba(0, 0, 0, 0.20000000298023224);
  --dl-color-colors_overlay-30: rgba(0, 0, 0, 0.30000001192092896);
  --dl-color-colors_overlay-40: rgba(0, 0, 0, 0.4000000059604645);
  --dl-color-colors_overlay-50: rgba(0, 0, 0, 0.5);
  --dl-color-colors_overlay-60: rgba(0, 0, 0, 0.6000000238418579);
  --dl-color-colors_overlay-70: rgba(0, 0, 0, 0.699999988079071);
  --dl-color-colors_overlay-80: rgba(0, 0, 0, 0.800000011920929);
  --dl-color-colors_overlay-90: rgba(0, 0, 0, 0.8999999761581421);
  --dl-color-colors_purple-100: rgba(77, 0, 77, 1);
  --dl-color-colors_yellow-100: rgba(76, 76, 0, 1);
  --dl-color-colors-transparent: rgba(0, 0, 0, 0);
  --dl-color-colors_font-active: rgba(0, 63, 76, 1);
  --dl-color-colors_neutral-100: rgba(13, 26, 38, 1);
  --dl-color-colors_border-error: rgba(149, 4, 4, 1);
  --dl-color-colors_border-focus: rgba(0, 63, 76, 1);
  --dl-color-colors_font-inverse: rgba(255, 255, 255, 1);
  --dl-color-colors_font-primary: rgba(13, 26, 38, 1);
  --dl-color-colors_font-success: rgba(54, 94, 61, 1);
  --dl-color-colors_font-warning: rgba(102, 51, 0, 1);
  --dl-color-colors_font-disabled: rgba(92, 102, 112, 1);
  --dl-color-colors_font-tertiary: rgba(92, 102, 112, 1);
  --dl-color-colors_border-pressed: rgba(0, 63, 76, 1);
  --dl-color-colors_border-primary: rgba(174, 179, 183, 1);
  --dl-color-colors_font-secondary: rgba(48, 64, 80, 1);
  --dl-color-colors_shadow-primary: rgba(13, 26, 38, 0.25);
  --dl-color-components_link-color: rgba(4, 125, 149, 1);
  --dl-color-components_text-color: rgba(13, 26, 38, 1);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-colors_background-info: rgba(184, 206, 249, 1);
  --dl-color-colors_border-disabled: rgba(239, 240, 240, 1);
  --dl-color-colors_border-tertiary: rgba(239, 240, 240, 1);
  --dl-color-colors_shadow-tertiary: rgba(13, 26, 38, 0.05000000074505806);
  --dl-color-components_alert-color: rgba(13, 26, 38, 1);
  --dl-color-components_badge-color: rgba(13, 26, 38, 1);
  --dl-color-colors_background-error: rgba(245, 188, 188, 1);
  --dl-color-colors_border-secondary: rgba(220, 222, 224, 1);
  --dl-color-colors_brand_primary-10: rgba(233, 249, 252, 1);
  --dl-color-colors_brand_primary-20: rgba(188, 236, 245, 1);
  --dl-color-colors_brand_primary-40: rgba(125, 214, 232, 1);
  --dl-color-colors_brand_primary-60: rgba(63, 169, 191, 1);
  --dl-color-colors_brand_primary-80: rgba(4, 125, 149, 1);
  --dl-color-colors_brand_primary-90: rgba(0, 85, 102, 1);
  --dl-color-colors_font-interactive: rgba(4, 125, 149, 1);
  --dl-color-colors_shadow-secondary: rgba(13, 26, 38, 0.15000000596046448);
  --dl-color-components_button-color: rgba(13, 26, 38, 1);
  --dl-color-colors_brand_primary-100: rgba(0, 63, 76, 1);
  --dl-color-components_heading-color: rgba(13, 26, 38, 1);
  --dl-color-colors_background-primary: rgba(255, 255, 255, 1);
  --dl-color-colors_background-success: rgba(214, 245, 219, 1);
  --dl-color-colors_background-warning: rgba(245, 217, 188, 1);
  --dl-color-colors_brand_secondary-10: rgba(254, 230, 254, 1);
  --dl-color-colors_brand_secondary-20: rgba(249, 184, 249, 1);
  --dl-color-colors_brand_secondary-40: rgba(232, 125, 232, 1);
  --dl-color-colors_brand_secondary-60: rgba(191, 64, 191, 1);
  --dl-color-colors_brand_secondary-80: rgba(149, 4, 149, 1);
  --dl-color-colors_brand_secondary-90: rgba(102, 0, 102, 1);
  --dl-color-colors_background-disabled: rgba(239, 240, 240, 1);
  --dl-color-colors_background-tertiary: rgba(239, 240, 240, 1);
  --dl-color-colors_brand_secondary-100: rgba(77, 0, 77, 1);
  --dl-color-components_tabs_item-color: rgba(48, 64, 80, 1);
  --dl-color-components_text_info-color: rgba(0, 34, 102, 1);
  --dl-color-components_textfield-color: rgba(13, 26, 38, 1);
  --dl-color-colors_background-secondary: rgba(250, 250, 250, 1);
  --dl-color-components_alert_info-color: rgba(0, 34, 102, 1);
  --dl-color-components_badge_info-color: rgba(0, 34, 102, 1);
  --dl-color-components_card-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_link_focus-color: rgba(0, 63, 76, 1);
  --dl-color-components_link_hover-color: rgba(0, 85, 102, 1);
  --dl-color-components_menu-bordercolor: rgba(174, 179, 183, 1);
  --dl-color-components_table_data-color: rgba(13, 26, 38, 1);
  --dl-color-components_tabs-bordercolor: rgba(220, 222, 224, 1);
  --dl-color-components_text_error-color: rgba(102, 0, 0, 1);
  --dl-color-colors_background-quaternary: rgba(137, 148, 159, 1);
  --dl-color-components_alert_error-color: rgba(102, 0, 0, 1);
  --dl-color-components_badge_error-color: rgba(102, 0, 0, 1);
  --dl-color-components_button_link-color: rgba(4, 125, 149, 1);
  --dl-color-components_field_label-color: rgba(48, 64, 80, 1);
  --dl-color-components_link_active-color: rgba(0, 63, 76, 1);
  --dl-color-components_radio_label-color: rgba(13, 26, 38, 1);
  --dl-color-components_searchfield-color: rgba(13, 26, 38, 1);
  --dl-color-components_selectfield-color: rgba(13, 26, 38, 1);
  --dl-color-components_button-bordercolor: rgba(174, 179, 183, 1);
  --dl-color-components_copy_tooltip-color: rgba(0, 63, 76, 1);
  --dl-color-components_fieldcontrol-color: rgba(13, 26, 38, 1);
  --dl-color-components_link_visited-color: rgba(4, 125, 149, 1);
  --dl-color-components_radio_button-color: rgba(255, 255, 255, 1);
  --dl-color-components_rating_empty-color: rgba(239, 240, 240, 1);
  --dl-color-components_table_header-color: rgba(13, 26, 38, 1);
  --dl-color-components_text_primary-color: rgba(13, 26, 38, 1);
  --dl-color-components_text_success-color: rgba(54, 94, 61, 1);
  --dl-color-components_text_warning-color: rgba(102, 51, 0, 1);
  --dl-color-components_togglebutton-color: rgba(0, 0, 0, 0.5);
  --dl-color-components_alert_success-color: rgba(54, 94, 61, 1);
  --dl-color-components_alert_warning-color: rgba(102, 51, 0, 1);
  --dl-color-components_badge_success-color: rgba(54, 94, 61, 1);
  --dl-color-components_badge_warning-color: rgba(102, 51, 0, 1);
  --dl-color-components_button__focus-color: rgba(0, 63, 76, 1);
  --dl-color-components_button__hover-color: rgba(0, 63, 76, 1);
  --dl-color-components_divider-bordercolor: rgba(174, 179, 183, 1);
  --dl-color-components_divider_label-color: rgba(92, 102, 112, 1);
  --dl-color-components_passwordfield-color: rgba(13, 26, 38, 1);
  --dl-color-components_rating_filled-color: rgba(149, 4, 149, 1);
  --dl-color-components_select_option-color: rgba(13, 26, 38, 1);
  --dl-color-components_table_caption-color: rgba(13, 26, 38, 1);
  --dl-color-components_text_tertiary-color: rgba(92, 102, 112, 1);
  --dl-color-components_textareafield-color: rgba(13, 26, 38, 1);
  --dl-color-components_button__active-color: rgba(0, 63, 76, 1);
  --dl-color-components_button_primary-color: rgba(255, 255, 255, 1);
  --dl-color-components_button_warning-color: rgba(191, 64, 64, 1);
  --dl-color-components_card-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_menu-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_placeholder-endcolor: rgba(239, 240, 240, 1);
  --dl-color-components_tabs-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_text_secondary-color: rgba(48, 64, 80, 1);
  --dl-color-components_alert-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_badge-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_button__loading-color: rgba(92, 102, 112, 1);
  --dl-color-components_checkbox_button-color: rgba(255, 255, 255, 1);
  --dl-color-components_tabs_item-bordercolor: rgba(220, 222, 224, 1);
  --dl-color-components_textfield-bordercolor: rgba(137, 148, 159, 1);
  --dl-color-components_button__disabled-color: rgba(92, 102, 112, 1);
  --dl-color-components_phonenumberfield-color: rgba(13, 26, 38, 1);
  --dl-color-components_placeholder-startcolor: rgba(250, 250, 250, 1);
  --dl-color-components_radiogroup_label-color: rgba(48, 64, 80, 1);
  --dl-color-components_table_data-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_tabs_item__focus-color: rgba(0, 63, 76, 1);
  --dl-color-components_tabs_item__hover-color: rgba(0, 85, 102, 1);
  --dl-color-components_button_link-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_pagination_button-color: rgba(13, 26, 38, 1);
  --dl-color-components_selectfield-bordercolor: rgba(137, 148, 159, 1);
  --dl-color-components_selectfield_label-color: rgba(48, 64, 80, 1);
  --dl-color-components_tabs_item__active-color: rgba(4, 125, 149, 1);
  --dl-color-components_togglebutton_link-color: rgba(0, 0, 0, 0.5);
  --dl-color-components_button_destructive-color: rgba(255, 255, 255, 1);
  --dl-color-components_button_link__focus-color: rgba(0, 63, 76, 1);
  --dl-color-components_button_link__hover-color: rgba(0, 85, 102, 1);
  --dl-color-components_button_menu__focus-color: rgba(255, 255, 255, 1);
  --dl-color-components_button_menu__hover-color: rgba(255, 255, 255, 1);
  --dl-color-components_expander-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_fieldcontrol-bordercolor: rgba(174, 179, 183, 1);
  --dl-color-components_fieldcontrol_label-color: rgba(43, 51, 59, 1);
  --dl-color-components_pagination_current-color: rgba(255, 255, 255, 1);
  --dl-color-components_radio_button-bordercolor: rgba(174, 179, 183, 1);
  --dl-color-components_searchfield_button-color: rgba(13, 26, 38, 1);
  --dl-color-components_stepperfield-bordercolor: rgba(137, 148, 159, 1);
  --dl-color-components_stepperfield_input-color: rgba(13, 26, 38, 1);
  --dl-color-components_table_header-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_togglebutton-bordercolor: rgba(174, 179, 183, 1);
  --dl-color-components_button__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_button__hover-bordercolor: rgba(63, 169, 191, 1);
  --dl-color-components_button_link__active-color: rgba(0, 63, 76, 1);
  --dl-color-components_button_menu__active-color: rgba(255, 255, 255, 1);
  --dl-color-components_card_elevated-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_card_outlined-bordercolor: rgba(174, 179, 183, 1);
  --dl-color-components_fieldcontrol-outlinecolor: rgba(0, 0, 0, 0);
  --dl-color-components_fieldmessages_error-color: rgba(102, 0, 0, 1);
  --dl-color-components_radio_button-outlinecolor: rgba(0, 0, 0, 0);
  --dl-color-components_stepperfield_button-color: rgba(13, 26, 38, 1);
  --dl-color-components_tabs_item-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_tabs_item__disabled-color: rgba(92, 102, 112, 1);
  --dl-color-components_textareafield-bordercolor: rgba(137, 148, 159, 1);
  --dl-color-components_togglebutton__focus-color: rgba(0, 0, 0, 0.5);
  --dl-color-components_alert_info-backgroundcolor: rgba(184, 206, 249, 1);
  --dl-color-components_badge_info-backgroundcolor: rgba(184, 206, 249, 1);
  --dl-color-components_button__active-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_button_link__loading-color: rgba(92, 102, 112, 1);
  --dl-color-components_button_primary-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_warning-bordercolor: rgba(191, 64, 64, 1);
  --dl-color-components_passwordfield_button-color: rgba(13, 26, 38, 1);
  --dl-color-components_alert_error-backgroundcolor: rgba(245, 188, 188, 1);
  --dl-color-components_badge_error-backgroundcolor: rgba(245, 188, 188, 1);
  --dl-color-components_button__loading-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_button_link-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_link__disabled-color: rgba(92, 102, 112, 1);
  --dl-color-components_button_menu-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_menu__disabled-color: rgba(92, 102, 112, 1);
  --dl-color-components_button_primary__focus-color: rgba(255, 255, 255, 1);
  --dl-color-components_button_primary__hover-color: rgba(255, 255, 255, 1);
  --dl-color-components_button_warning__focus-color: rgba(149, 4, 4, 1);
  --dl-color-components_button_warning__hover-color: rgba(102, 0, 0, 1);
  --dl-color-components_expander_content_text-color: rgba(48, 64, 80, 1);
  --dl-color-components_fieldcontrol_disabled-color: rgba(99, 107, 117, 1);
  --dl-color-components_inappmessaging_button-color: rgba(0, 0, 0, 1);
  --dl-color-components_radio_button__checked-color: rgba(4, 125, 149, 1);
  --dl-color-components_radio_label__disabled-color: rgba(92, 102, 112, 1);
  --dl-color-components_togglebutton__pressed-color: rgba(13, 26, 38, 1);
  --dl-color-components_button__disabled-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_button_primary__active-color: rgba(255, 255, 255, 1);
  --dl-color-components_button_warning__active-color: rgba(77, 0, 0, 1);
  --dl-color-components_fieldcontrol__disabled-color: rgba(92, 102, 112, 1);
  --dl-color-components_phonenumberfield-bordercolor: rgba(137, 148, 159, 1);
  --dl-color-components_radio_button-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_radio_button__disabled-color: rgba(255, 255, 255, 1);
  --dl-color-components_radiogroup_radio-bordercolor: rgba(137, 148, 159, 1);
  --dl-color-components_radiogroup_radio_label-color: rgba(13, 26, 38, 1);
  --dl-color-components_textfield__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_togglebutton__disabled-color: rgba(92, 102, 112, 1);
  --dl-color-components_alert_success-backgroundcolor: rgba(214, 245, 219, 1);
  --dl-color-components_alert_warning-backgroundcolor: rgba(245, 217, 188, 1);
  --dl-color-components_autocomplete_menu-bordercolor: rgba(137, 148, 159, 1);
  --dl-color-components_badge_success-backgroundcolor: rgba(214, 245, 219, 1);
  --dl-color-components_badge_warning-backgroundcolor: rgba(245, 217, 188, 1);
  --dl-color-components_button__focus-backgroundcolor: rgba(233, 249, 252, 1);
  --dl-color-components_button__hover-backgroundcolor: rgba(233, 249, 252, 1);
  --dl-color-components_button_primary__loading-color: rgba(92, 102, 112, 1);
  --dl-color-components_button_warning__loading-color: rgba(137, 148, 159, 1);
  --dl-color-components_card_elevated-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_card_outlined-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_checkbox_icon-backgroundcolor: rgba(4, 125, 149, 1);
  --dl-color-components_collection_search_input-color: rgba(13, 26, 38, 1);
  --dl-color-components_divider_label-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_pagination_button_hover-color: rgba(13, 26, 38, 1);
  --dl-color-components_select_option-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_select_option__disabled-color: rgba(137, 148, 159, 1);
  --dl-color-components_sliderfield_thumb-bordercolor: rgba(174, 179, 183, 1);
  --dl-color-components_switchfield_thumb-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_tabs_item__active-bordercolor: rgba(4, 125, 149, 1);
  --dl-color-components_autocomplete_menu_option-color: rgba(0, 0, 0, 1);
  --dl-color-components_button__active-backgroundcolor: rgba(188, 236, 245, 1);
  --dl-color-components_button_destructive-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_link__focus-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_link__hover-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_primary-backgroundcolor: rgba(4, 125, 149, 1);
  --dl-color-components_button_primary__disabled-color: rgba(92, 102, 112, 1);
  --dl-color-components_button_warning-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_warning__disabled-color: rgba(137, 148, 159, 1);
  --dl-color-components_checkbox_label__disabled-color: rgba(92, 102, 112, 1);
  --dl-color-components_collection_search_button-color: rgba(13, 26, 38, 1);
  --dl-color-components_fieldcontrol_description-color: rgba(51, 51, 51, 1);
  --dl-color-components_fieldcontrol_placeholder-color: rgba(128, 128, 128, 1);
  --dl-color-components_selectfield__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_togglebutton_link__focus-color: rgba(0, 0, 0, 0.5);
  --dl-color-components_togglebutton_link__hover-color: rgba(0, 0, 0, 0.5);
  --dl-color-components_authenticator_orcontainer-color: rgba(92, 102, 112, 1);
  --dl-color-components_button__loading-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_destructive__focus-color: rgba(255, 255, 255, 1);
  --dl-color-components_button_destructive__hover-color: rgba(255, 255, 255, 1);
  --dl-color-components_button_link__active-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_fieldcontrol__error-bordercolor: rgba(149, 4, 4, 1);
  --dl-color-components_fieldcontrol__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_fieldmessages_description-color: rgba(48, 64, 80, 1);
  --dl-color-components_radio_button__error-bordercolor: rgba(149, 4, 4, 1);
  --dl-color-components_radio_button__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_radiogroup_radio__checked-color: rgba(4, 125, 149, 1);
  --dl-color-components_searchfield_button__focus-color: rgba(0, 63, 76, 1);
  --dl-color-components_searchfield_button__hover-color: rgba(0, 63, 76, 1);
  --dl-color-components_table_row_hover-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_tabs_item__disabled-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_togglebutton__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_authenticator_router-bordercolor: rgba(174, 179, 183, 1);
  --dl-color-components_button__disabled-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_destructive__active-color: rgba(255, 255, 255, 1);
  --dl-color-components_button_link__loading-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_pagination_button_disabled-color: rgba(92, 102, 112, 1);
  --dl-color-components_radiogroup_radio-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_searchfield_button__active-color: rgba(0, 63, 76, 1);
  --dl-color-components_stepperfield_button__focus-color: rgba(0, 63, 76, 1);
  --dl-color-components_stepperfield_button__hover-color: rgba(0, 63, 76, 1);
  --dl-color-components_textareafield__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_togglebutton_link__pressed-color: rgba(0, 0, 0, 0.8999999761581421);
  --dl-color-components_autocomplete_menu-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_button_destructive__loading-color: rgba(137, 148, 159, 1);
  --dl-color-components_button_link__disabled-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_primary__focus-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_primary__hover-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_warning__focus-bordercolor: rgba(149, 4, 4, 1);
  --dl-color-components_button_warning__hover-bordercolor: rgba(149, 4, 4, 1);
  --dl-color-components_fieldcontrol_disabled-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_passwordfield_button__focus-color: rgba(0, 63, 76, 1);
  --dl-color-components_passwordfield_button__hover-color: rgba(0, 63, 76, 1);
  --dl-color-components_sliderfield_range-backgroundcolor: rgba(4, 125, 149, 1);
  --dl-color-components_sliderfield_thumb-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_sliderfield_track-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_stepperfield_button__active-color: rgba(0, 63, 76, 1);
  --dl-color-components_switchfield_thumb-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_switchfield_track-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_table_row_striped-backgroundcolor: rgba(250, 250, 250, 1);
  --dl-color-components_tabs_item__active-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton__pressed-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_togglebutton_link-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton_link__disabled-color: rgba(92, 102, 112, 1);
  --dl-color-components_togglebutton_primary__focus-color: rgba(0, 0, 0, 0.5);
  --dl-color-components_togglebutton_primary__hover-color: rgba(0, 0, 0, 0.5);
  --dl-color-components_button_destructive-backgroundcolor: rgba(191, 64, 64, 1);
  --dl-color-components_button_destructive__disabled-color: rgba(137, 148, 159, 1);
  --dl-color-components_button_link__focus-backgroundcolor: rgba(233, 249, 252, 1);
  --dl-color-components_button_link__hover-backgroundcolor: rgba(233, 249, 252, 1);
  --dl-color-components_button_menu__focus-backgroundcolor: rgba(4, 125, 149, 1);
  --dl-color-components_button_menu__hover-backgroundcolor: rgba(4, 125, 149, 1);
  --dl-color-components_button_primary__active-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_warning__active-bordercolor: rgba(77, 0, 0, 1);
  --dl-color-components_checkbox_button__error-bordercolor: rgba(149, 4, 4, 1);
  --dl-color-components_checkbox_button__focus-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_checkbox_button_before-bordercolor: rgba(174, 179, 183, 1);
  --dl-color-components_collection_pagination_button-color: rgba(13, 26, 38, 1);
  --dl-color-components_fieldcontrol__disabled-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_pagination_current-backgroundcolor: rgba(0, 0, 0, 0.4000000059604645);
  --dl-color-components_passwordfield_button__active-color: rgba(0, 63, 76, 1);
  --dl-color-components_radio_button__disabled-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_searchfield_button-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_searchfield_button__disabled-color: rgba(137, 148, 159, 1);
  --dl-color-components_togglebutton__disabled-bordercolor: rgba(220, 222, 224, 1);
  --dl-color-components_authenticator_modal-backgroundcolor: rgba(0, 0, 0, 0.5);
  --dl-color-components_button_link__active-backgroundcolor: rgba(188, 236, 245, 1);
  --dl-color-components_button_menu__active-backgroundcolor: rgba(0, 85, 102, 1);
  --dl-color-components_button_primary__loading-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_warning__loading-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_checkbox_button__focus-outlinecolor: rgba(0, 0, 0, 0);
  --dl-color-components_collection_pagination_current-color: rgba(255, 255, 255, 1);
  --dl-color-components_phonenumberfield__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_stepperfield_button-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_stepperfield_button__disabled-color: rgba(137, 148, 159, 1);
  --dl-color-components_tabs_item__disabled-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton__hover-backgroundcolor: rgba(0, 0, 0, 0.10000000149011612);
  --dl-color-components_togglebutton_primary__pressed-color: rgba(255, 255, 255, 1);
  --dl-color-components_authenticator_router-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_button_link__loading-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_primary__disabled-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_warning__disabled-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_passwordfield_button__disabled-color: rgba(137, 148, 159, 1);
  --dl-color-components_sliderfield_thumb__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_sliderfield_thumb__hover-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_togglebutton__active-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton_primary-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton_primary__disabled-color: rgba(92, 102, 112, 1);
  --dl-color-components_button_destructive__focus-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_destructive__hover-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_link__disabled-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_primary__focus-backgroundcolor: rgba(0, 85, 102, 1);
  --dl-color-components_button_primary__hover-backgroundcolor: rgba(0, 85, 102, 1);
  --dl-color-components_button_warning__focus-backgroundcolor: rgba(252, 233, 233, 1);
  --dl-color-components_button_warning__hover-backgroundcolor: rgba(252, 233, 233, 1);
  --dl-color-components_checkbox_button__disabled-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_collection_search_button__focus-color: rgba(0, 63, 76, 1);
  --dl-color-components_collection_search_button__hover-color: rgba(0, 63, 76, 1);
  --dl-color-components_fieldcontrol_disabled-backgroundcolor: rgba(233, 235, 236, 1);
  --dl-color-components_inappmessaging_button-backgroundcolor: rgba(232, 232, 232, 1);
  --dl-color-components_liveness_cameramodule-backgroundcolor: rgba(0, 0, 0, 1);
  --dl-color-components_radio_button__checked__disabled-color: rgba(239, 240, 240, 1);
  --dl-color-components_searchfield_button__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_searchfield_button__hover-bordercolor: rgba(63, 169, 191, 1);
  --dl-color-components_togglebutton__pressed-backgroundcolor: rgba(0, 0, 0, 0.20000000298023224);
  --dl-color-components_autocomplete_menu_option__active-color: rgba(255, 255, 255, 1);
  --dl-color-components_button_destructive__active-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_primary__active-backgroundcolor: rgba(0, 63, 76, 1);
  --dl-color-components_button_warning__active-backgroundcolor: rgba(245, 188, 188, 1);
  --dl-color-components_collection_search_button__active-color: rgba(0, 63, 76, 1);
  --dl-color-components_fieldcontrol__disabled-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_radio_button__disabled-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_searchfield_button__active-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_togglebutton__disabled-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_destructive__loading-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_primary__loading-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_button_warning__loading-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_expander_trigger__hover-backgroundcolor: rgba(0, 0, 0, 0.10000000149011612);
  --dl-color-components_pagination_button_hover-backgroundcolor: rgba(0, 0, 0, 0.10000000149011612);
  --dl-color-components_passwordfield_button__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_passwordfield_button__hover-bordercolor: rgba(63, 169, 191, 1);
  --dl-color-components_sliderfield_thumb__disabled-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton_link__pressed__focus-color: rgba(0, 0, 0, 0.8999999761581421);
  --dl-color-components_togglebutton_link__pressed__hover-color: rgba(0, 0, 0, 0.8999999761581421);
  --dl-color-components_togglebutton_primary__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_autocomplete_menu_option-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_button_destructive__disabled-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_primary__disabled-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_button_warning__disabled-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_collection_search_button__disabled-color: rgba(137, 148, 159, 1);
  --dl-color-components_passwordfield_button__active-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_searchfield_button__disabled-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_sliderfield_thumb__hover-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_switchfield_track__error-backgroundcolor: rgba(245, 188, 188, 1);
  --dl-color-components_togglebutton_link__focus-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton_link__hover-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_button_destructive__focus-backgroundcolor: rgba(149, 4, 4, 1);
  --dl-color-components_button_destructive__hover-backgroundcolor: rgba(149, 4, 4, 1);
  --dl-color-components_checkbox_button__error__focus-bordercolor: rgba(0, 0, 0, 0);
  --dl-color-components_collection_pagination_button__hover-color: rgba(13, 26, 38, 1);
  --dl-color-components_searchfield_button__focus-backgroundcolor: rgba(233, 249, 252, 1);
  --dl-color-components_searchfield_button__hover-backgroundcolor: rgba(233, 249, 252, 1);
  --dl-color-components_switchfield_track_checked-backgroundcolor: rgba(63, 169, 191, 1);
  --dl-color-components_togglebutton_primary__pressed-bordercolor: rgba(4, 125, 149, 1);
  --dl-color-components_button_destructive__active-backgroundcolor: rgba(77, 0, 0, 1);
  --dl-color-components_passwordfield_button__disabled-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_searchfield_button__active-backgroundcolor: rgba(188, 236, 245, 1);
  --dl-color-components_stepperfield_button__focus-backgroundcolor: rgba(233, 249, 252, 1);
  --dl-color-components_stepperfield_button__hover-backgroundcolor: rgba(233, 249, 252, 1);
  --dl-color-components_togglebutton_link__pressed-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton_primary__disabled-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_togglebutton_primary__pressed__focus-color: rgba(255, 255, 255, 1);
  --dl-color-components_togglebutton_primary__pressed__hover-color: rgba(255, 255, 255, 1);
  --dl-color-components_button_destructive__loading-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_collection_search_button__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_collection_search_button__hover-bordercolor: rgba(63, 169, 191, 1);
  --dl-color-components_passwordfield_button__focus-backgroundcolor: rgba(233, 249, 252, 1);
  --dl-color-components_passwordfield_button__hover-backgroundcolor: rgba(233, 249, 252, 1);
  --dl-color-components_sliderfield_range__disabled-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_sliderfield_thumb__disabled-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_stepperfield_button__active-backgroundcolor: rgba(188, 236, 245, 1);
  --dl-color-components_togglebutton_link__disabled-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton_primary__focus-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton_primary__hover-backgroundcolor: rgba(0, 0, 0, 0.10000000149011612);
  --dl-color-components_authenticator_state_inactive-backgroundcolor: rgba(250, 250, 250, 1);
  --dl-color-components_button_destructive__disabled-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_collection_pagination_button__disabled-color: rgba(137, 148, 159, 1);
  --dl-color-components_collection_search_button__active-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_passwordfield_button__active-backgroundcolor: rgba(188, 236, 245, 1);
  --dl-color-components_searchfield_button__disabled-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton__pressed__hover-backgroundcolor: rgba(0, 0, 0, 0.30000001192092896);
  --dl-color-components_collection_pagination_current-backgroundcolor: rgba(0, 0, 0, 0.4000000059604645);
  --dl-color-components_fieldcontrol_quiet__error-borderblockendcolor: rgba(149, 4, 4, 1);
  --dl-color-components_fieldcontrol_quiet__focus-borderblockendcolor: rgba(0, 63, 76, 1);
  --dl-color-components_stepperfield_button__disabled-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_togglebutton_primary__pressed-backgroundcolor: rgba(4, 125, 149, 1);
  --dl-color-components_collection_search_button__disabled-bordercolor: rgba(239, 240, 240, 1);
  --dl-color-components_passwordfield_button__disabled-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton_primary__disabled-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_collection_search_button__focus-backgroundcolor: rgba(233, 249, 252, 1);
  --dl-color-components_collection_search_button__hover-backgroundcolor: rgba(233, 249, 252, 1);
  --dl-color-components_authenticator_orcontainer_orline-backgroundcolor: rgba(255, 255, 255, 1);
  --dl-color-components_autocomplete_menu_option__active-backgroundcolor: rgba(4, 125, 149, 1);
  --dl-color-components_checkbox_icon__checked__disabled-backgroundcolor: rgba(239, 240, 240, 1);
  --dl-color-components_collection_search_button__active-backgroundcolor: rgba(188, 236, 245, 1);
  --dl-color-components_togglebutton_primary__pressed__focus-bordercolor: rgba(0, 63, 76, 1);
  --dl-color-components_togglebutton_primary__pressed__hover-bordercolor: rgba(63, 169, 191, 1);
  --dl-color-components_togglebutton_link__pressed__focus-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_togglebutton_link__pressed__hover-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_collection_search_button__disabled-backgroundcolor: rgba(0, 0, 0, 0);
  --dl-color-components_collection_pagination_button__hover-backgroundcolor: rgba(0, 0, 0, 0.10000000149011612);
  --dl-color-components_togglebutton_primary__pressed__focus-backgroundcolor: rgba(0, 63, 76, 1);
  --dl-color-components_togglebutton_primary__pressed__hover-backgroundcolor: rgba(63, 169, 191, 1);
  --dl-color-components_checkbox_icon__indeterminate__disabled-backgroundcolor: rgba(239, 240, 240, 1);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.xxl {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsratingdefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.bodybody\(link\) {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.xxxxl {
  font-size: 48px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsloaderlinear {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsfieldcontrolsmall {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.headingh5 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.headingh2 {
  font-size: 40px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsinappmessagingheader {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsheadingdefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.bodybodysmall {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentstabledata {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsfieldsmall {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsheading1 {
  font-size: 48px;
  font-style: normal;
  font-family: Inter;
  font-weight: 300px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.bodybodysmall\(link\) {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsmenularge {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsplaceholdersmall {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.headingh4 {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsloaderdefault {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsheading5 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.labeldefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentssliderfieldsmall {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentslinklarge {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentssliderfielddefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.labelsmall {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.badgesmall {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.inputsmall {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.fieldmessagesdescriptiondefault {
  font-size: 14px;
  font-style: italic;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsbuttondefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsstepperfieldinput {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsfieldcontrollarge {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsloadersmall {
  font-size: 8px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.headingh3 {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.medium {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsplaceholderlarge {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsbadgesmall {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsselectlarge {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentslinkdefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsfieldmessageserror {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsdividerlabel {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsplaceholderdefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsmenudefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentshighlightmatchhighlighted {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsmenusmall {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsheading2 {
  font-size: 40px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.badgedefault {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.labellarge {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsheading4 {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentslinksmall {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsloaderlarge {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentspaginationcurrent {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentstableheader {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.xs {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsfieldcontroldefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsbadgedefault {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.buttonsmall {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentssliderfieldlarge {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsratingsmall {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsselectdefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsalertheading {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentstablecaption {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsfieldlarge {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsbuttonsmall {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsbuttonlarge {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentstextfielddefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsswitchfieldlarge {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.componentstabsitem {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.headingh6 {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsdividerlarge {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsfielddefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsratinglarge {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsswitchfielddefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.bodybody {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0.01em;
}
.xxxl {
  font-size: 40px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.bodybodylarge\(link\) {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0.01em;
}
.componentsswitchfieldsmall {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.headingh1 {
  font-size: 48px;
  font-style: normal;
  font-family: Inter;
  font-weight: 300px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsdividerdefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsselectfielddefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.buttondefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsphonenumberfielddefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.inputdefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.small {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.large {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.xxxs {
  font-size: 6px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.buttonlarge {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsfieldmessagesdescription {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsicondefault {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.badgelarge {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.inputlarge {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentscopytoolTip {
  font-size: 8px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.xxs {
  font-size: 8px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsbadgelarge {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsheading6 {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentscopydefault {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.xl {
  font-size: 24px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsselectsmall {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.componentsheading3 {
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.bodybodylarge {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0.01em;
}
.componentsdividersmall {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
